@{
    ViewData["Title"] = "form";
}

<style>

    .form-card {
        background-color: aliceblue;
        padding: 40px;
        width: 300px;
        margin: 0 auto 10px;
        border-radius: 5px;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
        overflow: hidden;
    }

        .form-card h1 {
            font-weight: 100;
            text-align: center;
            font-size: 2.3em;
            text-transform: uppercase;
        }

        .form-card input[type=text], input[type=password] {
            height: 36px;
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;
            background: #ffffff;
            box-sizing: border-box;
            border: 1px solid #d9d9d9
        }

        .form-card button[type=submit] {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            position: relative;
            font-size: 14px;
            font-weight: 700;
            height: 36px;
            background-color: #4d90fe;
            border: 0px;
            color: #ffffff;
            text-transform: uppercase;
        }
</style>


<br />

<div class="form-card">

    <h1>form</h1>

    <input type="text" id="txtName" placeholder="Some place holders" autocomplete="off" />
    <input type="text" id="txtUserName" placeholder="Some place holders 2" autocomplete="off" />
    <input type="password" id="txtPassword" placeholder="Some place holders 3" autocomplete="off" />

    <button id="btnsubmitForm" type="submit">submit</button>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    //eventHendler
    $("[id$=btnsubmitForm]").on("click", function() {

        var valid = 0;

        if ($("[id$=txtName]").val() == "") {
            alert("name");
            $("[id$=txtName]").focus();
            valid = 1;
            return;
        }

        if ($("[id$=txtUserName]").val() == "") {
            alert("user");
            $("[id$=txtUserName]").focus();
            valid = 1;
        }

        if ($("[id$=txtPassword]").val() == "") {
            alert("user");
            $("[id$=txtPassword]").focus();
            valid = 1;
            return;
        }

        if (valid ==0) {
            $.ajax({
                type:"POST",
                url: "formsubmitajax/form", //action/controler
                data: "{'name':'"+$("[id$=txtName]").val()+"','username':'"+$("[id$=txtName]").val()+"', 'password':'"+$("[id$=txtPassword]").val()+"'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {

                },
                error: function(response) {
                    alert(response.toString());
                }
            })
        }
    })
</script>

