@{
    ViewData["Title"] = "form";
}

<style>

    .form-card {
        background-color: aliceblue;
        padding: 40px;
        width: 300px;
        margin: 0 auto 10px;
        border-radius: 5px;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
        overflow: hidden;
    }

        .form-card h1 {
            font-weight: 100;
            text-align: center;
            font-size: 2.3em;
            text-transform: uppercase;
        }

        .form-card input[type=text], input[type=password] {
            height: 36px;
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;
            background: #ffffff;
            box-sizing: border-box;
            border: 1px solid #d9d9d9
        }

        .form-card button[type=submit] {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            position: relative;
            font-size: 14px;
            font-weight: 700;
            height: 36px;
            background-color: #4d90fe;
            border: 0px;
            color: #ffffff;
            text-transform: uppercase;
        }
</style>






<!-- jquery validation -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">form 🚇 <small>Ajax</small></h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form id="quickForm">
        <div class="card-body">
            <div class="form-group">
                <label for="InputName">Name</label>
                <input type="text" name="name" class="form-control" id="InputName" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="InputUserName">User name</label>
                <input type="text" name="userName" class="form-control" id="InputUserName" placeholder="Enter user name">
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Enter password">
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button id="btnsubmitForm" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
@*
<div class="form-card">

    <h1></h1>

    <input type="text" id="txtName" placeholder="Some place holders" autocomplete="off" />
    <input type="text" id="txtUserName" placeholder="Some place holders 2" autocomplete="off" />
    <input type="password" id="txtPassword" placeholder="Some place holders 3" autocomplete="off" />

    <button id="btnsubmitForm" type="submit">submit</button>
</div>
*@
<!-- jQuery -->
<script src="~/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>

<!-- Page specific script -->
<script>
    $(function() {
        $.validator.setDefaults({
            submitHandler: function() {
                var data = {
                    Name: $("[id$=InputName]").val(),
                    UserName: $("[id$=InputUserName]").val(),
                    Password: $("[id$=InputPassword]").val(),
                };

                var getWorkflowDetailsUrl = "/form/formsubmitajax";


                $.ajax({
                    type: "POST",
                    url: getWorkflowDetailsUrl,
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {

                        alert("Sucesso");

                        $("[id$=InputName]").val("");
                        $("[id$=InputUserName]").val("");
                        $("[id$=InputPassword]").val("");

                    },
                    error: function(response) {
                        alert("Erro", response.toString());
                    }
                });

            }
        });

        $('#quickForm').validate({
            rules: {
                name: {
                    required: true
                },
                userName: {
                    required: true
                },
                password: {
                    required: true,
                    minlength: 2
                },
            },
            messages: {
                name: {
                    required: "Please enter a name"
                },
                userName: {
                    required: "Please enter a user nane"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 2 characters long"
                }
            },
            errorElement: 'span',
            errorPlacement: function(error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function(element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function(element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>


@*<script>
    //eventHendler
    $("[id$=btnsubmitForm]").on("click", function() {


     var valid = 0;
     var data = {
            Name:     $("[id$=InputName]").val(),
            UserName: $("[id$=InputUserName]").val(),
            Password: $("[id$=InputPassword]").val(),
          };



        if (data.Name == "") {
            alert("Insert name");
            $("[id$=InputName]").focus();
            valid = 1;
            return;
        }

        if (data.UserName == "") {
            alert("Inseri user name");
            $("[id$=InputUserName]").focus();
            valid = 1;
            return;
        }

        if (data.Password == "") {
            alert("Insert password");
            $("[id$=InputPassword]").focus();
            valid = 1;
            return;
        }



       var getWorkflowDetailsUrl = "/form/formsubmitajax";

         if(valid == 0){
              $.ajax({
                    type: "POST",
                    url: getWorkflowDetailsUrl,
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                    alert("Sucesso");

                    $("[id$=txtName]").val("");
                    $("[id$=txtUserName]").val("");
                    $("[id$=txtPassword]").val("");

                    },
                    error: function (response) {
                      alert("Erro", response.toString());
                    }
                    });
         }
    })




</script>
*@
