@{
    ViewData["Title"] = "form";
}



<!-- jquery validation -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">form 🚇 <small>Ajax</small></h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form id="quickForm">
        <div class="card-body">
            <div class="form-group">
                <label for="InputName">Name</label>
                <input type="text" name="name" class="form-control" id="InputName" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="InputUserName">User name</label>
                <input type="text" name="userName" class="form-control" id="InputUserName" placeholder="Enter user name">
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Enter password">
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button id="btnsubmitForm" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
 

 <!-- Toastr -->
  @*<script src="~/AdminLTE-3.2.0/plugins/toastr/toastr.min.js"></script>*@
   <script src="~/AdminLTE-3.2.0/plugins/sweetalert2/sweetalert2.min.js"></script>
   <script>
    $(function () {
      var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
      });

      $('.swalDefaultSuccess').click(function () {
        Toast.fire({
          icon: 'success',
          title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.swalDefaultInfo').click(function () {
        Toast.fire({
          icon: 'info',
          title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.swalDefaultError').click(function () {
        Toast.fire({
          icon: 'error',
          title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.swalDefaultWarning').click(function () {
        Toast.fire({
          icon: 'warning',
          title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.swalDefaultQuestion').click(function () {
        Toast.fire({
          icon: 'question',
          title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });

      $('.toastrDefaultSuccess').click(function () {
        toastr.success('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
      });
      $('.toastrDefaultInfo').click(function () {
        toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
      });
      $('.toastrDefaultError').click(function () {
        toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
      });
      $('.toastrDefaultWarning').click(function () {
        toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
      });

      $('.toastsDefaultDefault').click(function () {
        $(document).Toasts('create', {
          title: 'Toast Title',
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.toastsDefaultTopLeft').click(function () {
        $(document).Toasts('create', {
          title: 'Toast Title',
          position: 'topLeft',
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.toastsDefaultBottomRight').click(function () {
        $(document).Toasts('create', {
          title: 'Toast Title',
          position: 'bottomRight',
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.toastsDefaultBottomLeft').click(function () {
        $(document).Toasts('create', {
          title: 'Toast Title',
          position: 'bottomLeft',
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.toastsDefaultAutohide').click(function () {
        $(document).Toasts('create', {
          title: 'Toast Title',
          autohide: true,
          delay: 750,
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.toastsDefaultNotFixed').click(function () {
        $(document).Toasts('create', {
          title: 'Toast Title',
          fixed: false,
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.toastsDefaultFull').click(function () {
        $(document).Toasts('create', {
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
          title: 'Toast Title',
          subtitle: 'Subtitle',
          icon: 'fas fa-envelope fa-lg',
        })
      });
      $('.toastsDefaultFullImage').click(function () {
        $(document).Toasts('create', {
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
          title: 'Toast Title',
          subtitle: 'Subtitle',
          image: '../../dist/img/user3-128x128.jpg',
          imageAlt: 'User Picture',
        })
      });
      $('.toastsDefaultSuccess').click(function () {
        $(document).Toasts('create', {
          class: 'bg-success',
          title: 'Toast Title',
          subtitle: 'Subtitle',
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.toastsDefaultInfo').click(function () {
        $(document).Toasts('create', {
          class: 'bg-info',
          title: 'Toast Title',
          subtitle: 'Subtitle',
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.toastsDefaultWarning').click(function () {
        $(document).Toasts('create', {
          class: 'bg-warning',
          title: 'Toast Title',
          subtitle: 'Subtitle',
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.toastsDefaultDanger').click(function () {
        $(document).Toasts('create', {
          class: 'bg-danger',
          title: 'Toast Title',
          subtitle: 'Subtitle',
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
      $('.toastsDefaultMaroon').click(function () {
        $(document).Toasts('create', {
          class: 'bg-maroon',
          title: 'Toast Title',
          subtitle: 'Subtitle',
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
    });
  </script>
<!-- jQuery -->
<script src="~/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>

<!-- Page specific script -->
<script>
    $(function() {
        $.validator.setDefaults({
            submitHandler: function() {
                var data = {
                    Name: $("[id$=InputName]").val(),
                    UserName: $("[id$=InputUserName]").val(),
                    Password: $("[id$=InputPassword]").val(),
                };

                var getWorkflowDetailsUrl = "/form/formsubmitajax";


                $.ajax({
                    type: "POST",
                    url: getWorkflowDetailsUrl,
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {

                        alert("Sucesso");

                        $("[id$=InputName]").val("");
                        $("[id$=InputUserName]").val("");
                        $("[id$=InputPassword]").val("");

                    },
                    error: function(response) {
                        alert("Erro", response.toString());
                    }
                });

            }
        });

        $('#quickForm').validate({
            rules: {
                name: {
                    required: true
                },
                userName: {
                    required: true
                },
                password: {
                    required: true,
                    minlength: 2
                },
            },
            messages: {
                name: {
                    required: "Please enter a name"
                },
                userName: {
                    required: "Please enter a user nane"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 2 characters long"
                }
            },
            errorElement: 'span',
            errorPlacement: function(error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function(element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function(element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>


@*<script>
    //eventHendler
    $("[id$=btnsubmitForm]").on("click", function() {


     var valid = 0;
     var data = {
            Name:     $("[id$=InputName]").val(),
            UserName: $("[id$=InputUserName]").val(),
            Password: $("[id$=InputPassword]").val(),
          };



        if (data.Name == "") {
            alert("Insert name");
            $("[id$=InputName]").focus();
            valid = 1;
            return;
        }

        if (data.UserName == "") {
            alert("Inseri user name");
            $("[id$=InputUserName]").focus();
            valid = 1;
            return;
        }

        if (data.Password == "") {
            alert("Insert password");
            $("[id$=InputPassword]").focus();
            valid = 1;
            return;
        }



       var getWorkflowDetailsUrl = "/form/formsubmitajax";

         if(valid == 0){
              $.ajax({
                    type: "POST",
                    url: getWorkflowDetailsUrl,
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                    alert("Sucesso");

                    $("[id$=txtName]").val("");
                    $("[id$=txtUserName]").val("");
                    $("[id$=txtPassword]").val("");

                    },
                    error: function (response) {
                      alert("Erro", response.toString());
                    }
                    });
         }
    })




</script>
*@
