
-- CREATE DATABASE [ajaxForms]
------------------------ 
USE [ajaxForms]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 8/19/2022 8:57:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name]	   NVARCHAR(MAX) NULL,
	[UserName] NVARCHAR(MAX) NULL,
	[Password] NVARCHAR(MAX) NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
